.inicioContainer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ban1{
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    margin: 10px 0;
}
 .divider1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .divider1 p{
        padding:0;
        width: 100%;
    }
@media screen and (max-width: 700px) {
   
}