
<div class="inicioContainer">
  <h4>Bem-vindo à Cheirim Bão</h4>
  <div class="divider1">
    <p style="text-align: center;">Do expresso encorpado ao cappuccino cremoso, tudo é feito com aquele toque artesanal que desperta memórias e conquista corações.<i class="bi bi-cup-hot-fill"></i></p>
    <img src="assets/star1.png" alt="banner acfe" class="ban1"/>
    <p style="text-align: center;">Visite nossa loja ! <i class="bi bi-geo-alt-fill"></i></p>
    <div class="map-container">
      <iframe
        src="https://maps.google.com/maps?q=Rua%20Bahia%201876%20Belo%20Horizonte&output=embed"
        width="300"
        height="250"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <p style="text-align: center;">Rua da Bahia 1876, Belo Horizonte - MG</p>
    </div>
</div>
