<div class="cafeteriaContainer" *ngIf="itemSelected">
  
  <!-- Imagem de fundo -->
  <div class="backg1">
    <img src="assets/chHD.jpg" alt="Café Background">
    <div class="pontos">
      <p class="pontos1">Pontos: $10</p>
    </div>
  </div>
  
  <!-- Conteúdo que pode subir e cobrir a imagem -->
  <div class="page1">
    <ul class="nav nav-tabs tab1">
      <li class="nav-item">
        <a class="nav-link botoes1" routerLink="inicio" routerLinkActive="active">Café</a>
      </li>
      <li class="nav-item">
        <a class="nav-link botoes1" routerLink="cardapio" routerLinkActive="active">Cardápio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link botoes1" routerLink="missoes" routerLinkActive="active">Missões</a>
      </li>
      <li class="nav-item">
        <a class="nav-link botoes1" routerLink="beneficios" routerLinkActive="active">Resgate</a>
      </li>
    </ul>

    <div class="rout1">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>