<div class="beneficioscontainer1">
        <h4 style="text-align: center;">Benefícios</h4>
        <p class="subtitulo" style="text-align: center;">Resgate brindes exclusivos da cafeteria!</p>
        <div class="beneficios">
        
        <div class="beneficio1 beneficio2" >
            <h5 class="beneficio-titulo">Café grátis</h5>
            <p class="beneficio-descricao">Troque 10 pontos por um café grátis</p>
            <i class="bi bi-gift-fill">10 pts</i>
        </div>
        <div class="beneficio1" >
            <h5 class="beneficio-titulo">Aniversário</h5>
            <p class="beneficio-descricao">Um pedaço de bolo no dia do seu Aniversário</p>
            <i class="bi bi-gift-fill">20 pts</i>
        </div>
        <div class="beneficio1" >
            <h5 class="beneficio-titulo">20% OFF</h5>
            <p class="beneficio-descricao">Troque 20 pontos por um desconto de 20%</p>
            <i class="bi bi-gift-fill">20 pts</i>
        </div>
        </div>
</div>