<div class="cardapioContainer">
    <h4 style="text-align: center;">Cardápio</h4>
    <p>Cafés:</p>
    <ul>
        <li>Capuccino - R$ 9,00</li>
        <li>Latte - R$ 10,00</li>
        <li>Mocha - R$ 11,00</li>
        <li>Espresso - R$ 8,00</li>
        <li>Macchiato - R$ 10,00</li>
        <li>Americano - R$ 7,00</li>
    </ul>
    <p>Comidas:</p>
    <ul>
        <li>Sanduíche - R$ 12,00</li>
        <li>Salada - R$ 15,00</li>
        <li>Quiche - R$ 14,00</li>
    </ul>
    <p>Doces:</p>
    <ul>
        <li>Brownie - R$ 8,00</li>
        <li>Cookie - R$ 6,00</li>
        <li>Cheesecake - R$ 10,00</li>
        <li>Torta de Limão - R$ 9,00</li>
    </ul>
</div>
